# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
db.sqlite3

# Logs
*.log

# Environment
.env
.env.*

# Django
/media/
staticfiles/

# IDE
.vscode/
.idea/

# Testing / Type checking
.pytest_cache/
.mypy_cache/
.dmypy.json

# Docker
*.pid
